@import "variables";

@font-face {
  font-family: 'bu-icon';
  src:  url('@{icomoon-font-path}/bu-icon.eot?lozxh3');
  src:  url('@{icomoon-font-path}/bu-icon.eot?lozxh3#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/bu-icon.ttf?lozxh3') format('truetype'),
    url('@{icomoon-font-path}/bu-icon.woff?lozxh3') format('woff'),
    url('@{icomoon-font-path}/bu-icon.svg?lozxh3#bu-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bu-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bu-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bu-icon__i {
  &:before {
    content: @bu-icon__i;
  }
}
.bu-icon__arrowleft {
  &:before {
    content: @bu-icon__arrowleft;
  }
}
.bu-icon__arrowright {
  &:before {
    content: @bu-icon__arrowright;
  }
}
.bu-icon__arrowup {
  &:before {
    content: @bu-icon__arrowup;
  }
}
.bu-icon__beautynhealth {
  &:before {
    content: @bu-icon__beautynhealth;
  }
}
.bu-icon__busreizen {
  &:before {
    content: @bu-icon__busreizen;
  }
}
.bu-icon__cadeau {
  &:before {
    content: @bu-icon__cadeau;
  }
}
.bu-icon__callcenter {
  &:before {
    content: @bu-icon__callcenter;
  }
}
.bu-icon__cross {
  &:before {
    content: @bu-icon__cross;
  }
}
.bu-icon__cruises {
  &:before {
    content: @bu-icon__cruises;
  }
}
.bu-icon__cultuur {
  &:before {
    content: @bu-icon__cultuur;
  }
}
.bu-icon__dagdeal {
  &:before {
    content: @bu-icon__dagdeal;
  }
}
.bu-icon__dagjeuit {
  &:before {
    content: @bu-icon__dagjeuit;
  }
}
.bu-icon__elektronica {
  &:before {
    content: @bu-icon__elektronica;
  }
}
.bu-icon__envelope {
  &:before {
    content: @bu-icon__envelope;
  }
}
.bu-icon__erotiek {
  &:before {
    content: @bu-icon__erotiek;
  }
}
.bu-icon__facebook {
  &:before {
    content: @bu-icon__facebook;
  }
}
.bu-icon__familie {
  &:before {
    content: @bu-icon__familie;
  }
}
.bu-icon__fashion {
  &:before {
    content: @bu-icon__fashion;
  }
}
.bu-icon__flyndrive {
  &:before {
    content: @bu-icon__flyndrive;
  }
}
.bu-icon__frankrijk {
  &:before {
    content: @bu-icon__frankrijk;
  }
}
.bu-icon__gastronomie {
  &:before {
    content: @bu-icon__gastronomie;
  }
}
.bu-icon__googleplus {
  &:before {
    content: @bu-icon__googleplus;
  }
}
.bu-icon__hamburger {
  &:before {
    content: @bu-icon__hamburger;
  }
}
.bu-icon__homenliving {
  &:before {
    content: @bu-icon__homenliving;
  }
}
.bu-icon__hotelketens {
  &:before {
    content: @bu-icon__hotelketens;
  }
}
.bu-icon__indekrant {
  &:before {
    content: @bu-icon__indekrant;
  }
}
.bu-icon__kennismakingsactie {
  &:before {
    content: @bu-icon__kennismakingsactie;
  }
}
.bu-icon__kerstmarkten {
  &:before {
    content: @bu-icon__kerstmarkten;
  }
}
.bu-icon__landen {
  &:before {
    content: @bu-icon__landen;
  }
}
.bu-icon__longarrowdown {
  &:before {
    content: @bu-icon__longarrowdown;
  }
}
.bu-icon__longarrowup {
  &:before {
    content: @bu-icon__longarrowup;
  }
}
.bu-icon__luxe {
  &:before {
    content: @bu-icon__luxe;
  }
}
.bu-icon__message {
  &:before {
    content: @bu-icon__message;
  }
}
.bu-icon__minicruise {
  &:before {
    content: @bu-icon__minicruise;
  }
}
.bu-icon__minus {
  &:before {
    content: @bu-icon__minus;
  }
}
.bu-icon__natuur {
  &:before {
    content: @bu-icon__natuur;
  }
}
.bu-icon__nederland {
  &:before {
    content: @bu-icon__nederland;
  }
}
.bu-icon__opruimingnsale {
  &:before {
    content: @bu-icon__opruimingnsale;
  }
}
.bu-icon__phone {
  &:before {
    content: @bu-icon__phone;
  }
}
.bu-icon__plaats {
  &:before {
    content: @bu-icon__plaats;
  }
}
.bu-icon__plus {
  &:before {
    content: @bu-icon__plus;
  }
}
.bu-icon__rondreizen {
  &:before {
    content: @bu-icon__rondreizen;
  }
}
.bu-icon__sadsmile {
  &:before {
    content: @bu-icon__sadsmile;
  }
}
.bu-icon__search {
  &:before {
    content: @bu-icon__search;
  }
}
.bu-icon__shoppen {
  &:before {
    content: @bu-icon__shoppen;
  }
}
.bu-icon__smile {
  &:before {
    content: @bu-icon__smile;
  }
}
.bu-icon__stedentrips {
  &:before {
    content: @bu-icon__stedentrips;
  }
}
.bu-icon__streek {
  &:before {
    content: @bu-icon__streek;
  }
}
.bu-icon__themaparken {
  &:before {
    content: @bu-icon__themaparken;
  }
}
.bu-icon__themas {
  &:before {
    content: @bu-icon__themas;
  }
}
.bu-icon__tipvandedag {
  &:before {
    content: @bu-icon__tipvandedag;
  }
}
.bu-icon__tuinnklussen {
  &:before {
    content: @bu-icon__tuinnklussen;
  }
}
.bu-icon__twitter {
  &:before {
    content: @bu-icon__twitter;
  }
}
.bu-icon__uniekovernachten {
  &:before {
    content: @bu-icon__uniekovernachten;
  }
}
.bu-icon__user {
  &:before {
    content: @bu-icon__user;
  }
}
.bu-icon__vliegtickets {
  &:before {
    content: @bu-icon__vliegtickets;
  }
}
.bu-icon__vrijetijd {
  &:before {
    content: @bu-icon__vrijetijd;
  }
}
.bu-icon__wellness {
  &:before {
    content: @bu-icon__wellness;
  }
}
.bu-icon__wereldsteden {
  &:before {
    content: @bu-icon__wereldsteden;
  }
}
.bu-icon__whatsapp {
  &:before {
    content: @bu-icon__whatsapp;
  }
}
.bu-icon__wintersport {
  &:before {
    content: @bu-icon__wintersport;
  }
}
.bu-icon__zonvakantie {
  &:before {
    content: @bu-icon__zonvakantie;
  }
}
.bu-icon__eurodeals {
  &:before {
    content: @bu-icon__eurodeals;
  }
}
.bu-icon__aandekust {
  &:before {
    content: @bu-icon__aandekust;
  }
}
.bu-icon__arrowdown {
  &:before {
    content: @bu-icon__arrowdown;
  }
}

