@font-face {
  font-family: 'bu-icon';
  src:  url('fonts/bu-icon.eot?lozxh3');
  src:  url('fonts/bu-icon.eot?lozxh3#iefix') format('embedded-opentype'),
    url('fonts/bu-icon.ttf?lozxh3') format('truetype'),
    url('fonts/bu-icon.woff?lozxh3') format('woff'),
    url('fonts/bu-icon.svg?lozxh3#bu-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.bu-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bu-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bu-icon__i:before {
  content: "\e941";
}
.bu-icon__arrowleft:before {
  content: "\e900";
}
.bu-icon__arrowright:before {
  content: "\e901";
}
.bu-icon__arrowup:before {
  content: "\e902";
}
.bu-icon__beautynhealth:before {
  content: "\e903";
}
.bu-icon__busreizen:before {
  content: "\e904";
}
.bu-icon__cadeau:before {
  content: "\e905";
}
.bu-icon__callcenter:before {
  content: "\e906";
}
.bu-icon__cross:before {
  content: "\e907";
}
.bu-icon__cruises:before {
  content: "\e908";
}
.bu-icon__cultuur:before {
  content: "\e909";
}
.bu-icon__dagdeal:before {
  content: "\e90a";
}
.bu-icon__dagjeuit:before {
  content: "\e90b";
}
.bu-icon__elektronica:before {
  content: "\e90c";
}
.bu-icon__envelope:before {
  content: "\e90d";
}
.bu-icon__erotiek:before {
  content: "\e90e";
}
.bu-icon__facebook:before {
  content: "\e90f";
}
.bu-icon__familie:before {
  content: "\e910";
}
.bu-icon__fashion:before {
  content: "\e911";
}
.bu-icon__flyndrive:before {
  content: "\e912";
}
.bu-icon__frankrijk:before {
  content: "\e913";
}
.bu-icon__gastronomie:before {
  content: "\e914";
}
.bu-icon__googleplus:before {
  content: "\e915";
}
.bu-icon__hamburger:before {
  content: "\e916";
}
.bu-icon__homenliving:before {
  content: "\e917";
}
.bu-icon__hotelketens:before {
  content: "\e918";
}
.bu-icon__indekrant:before {
  content: "\e919";
}
.bu-icon__kennismakingsactie:before {
  content: "\e91a";
}
.bu-icon__kerstmarkten:before {
  content: "\e91b";
}
.bu-icon__landen:before {
  content: "\e91c";
}
.bu-icon__longarrowdown:before {
  content: "\e91d";
}
.bu-icon__longarrowup:before {
  content: "\e91e";
}
.bu-icon__luxe:before {
  content: "\e91f";
}
.bu-icon__message:before {
  content: "\e920";
}
.bu-icon__minicruise:before {
  content: "\e921";
}
.bu-icon__minus:before {
  content: "\e922";
}
.bu-icon__natuur:before {
  content: "\e923";
}
.bu-icon__nederland:before {
  content: "\e924";
}
.bu-icon__opruimingnsale:before {
  content: "\e925";
}
.bu-icon__phone:before {
  content: "\e926";
}
.bu-icon__plaats:before {
  content: "\e927";
}
.bu-icon__plus:before {
  content: "\e928";
}
.bu-icon__rondreizen:before {
  content: "\e929";
}
.bu-icon__sadsmile:before {
  content: "\e92a";
}
.bu-icon__search:before {
  content: "\e92b";
}
.bu-icon__shoppen:before {
  content: "\e92c";
}
.bu-icon__smile:before {
  content: "\e92d";
}
.bu-icon__stedentrips:before {
  content: "\e92e";
}
.bu-icon__streek:before {
  content: "\e92f";
}
.bu-icon__themaparken:before {
  content: "\e930";
}
.bu-icon__themas:before {
  content: "\e931";
}
.bu-icon__tipvandedag:before {
  content: "\e932";
}
.bu-icon__tuinnklussen:before {
  content: "\e933";
}
.bu-icon__twitter:before {
  content: "\e934";
}
.bu-icon__uniekovernachten:before {
  content: "\e935";
}
.bu-icon__user:before {
  content: "\e936";
}
.bu-icon__vliegtickets:before {
  content: "\e937";
}
.bu-icon__vrijetijd:before {
  content: "\e938";
}
.bu-icon__wellness:before {
  content: "\e939";
}
.bu-icon__wereldsteden:before {
  content: "\e93a";
}
.bu-icon__whatsapp:before {
  content: "\e93b";
}
.bu-icon__wintersport:before {
  content: "\e93c";
}
.bu-icon__zonvakantie:before {
  content: "\e93d";
}
.bu-icon__eurodeals:before {
  content: "\e93e";
}
.bu-icon__aandekust:before {
  content: "\e93f";
}
.bu-icon__arrowdown:before {
  content: "\e940";
}

