@icomoon-font-path: "fonts";

@bu-icon__i: "\e941";
@bu-icon__arrowleft: "\e900";
@bu-icon__arrowright: "\e901";
@bu-icon__arrowup: "\e902";
@bu-icon__beautynhealth: "\e903";
@bu-icon__busreizen: "\e904";
@bu-icon__cadeau: "\e905";
@bu-icon__callcenter: "\e906";
@bu-icon__cross: "\e907";
@bu-icon__cruises: "\e908";
@bu-icon__cultuur: "\e909";
@bu-icon__dagdeal: "\e90a";
@bu-icon__dagjeuit: "\e90b";
@bu-icon__elektronica: "\e90c";
@bu-icon__envelope: "\e90d";
@bu-icon__erotiek: "\e90e";
@bu-icon__facebook: "\e90f";
@bu-icon__familie: "\e910";
@bu-icon__fashion: "\e911";
@bu-icon__flyndrive: "\e912";
@bu-icon__frankrijk: "\e913";
@bu-icon__gastronomie: "\e914";
@bu-icon__googleplus: "\e915";
@bu-icon__hamburger: "\e916";
@bu-icon__homenliving: "\e917";
@bu-icon__hotelketens: "\e918";
@bu-icon__indekrant: "\e919";
@bu-icon__kennismakingsactie: "\e91a";
@bu-icon__kerstmarkten: "\e91b";
@bu-icon__landen: "\e91c";
@bu-icon__longarrowdown: "\e91d";
@bu-icon__longarrowup: "\e91e";
@bu-icon__luxe: "\e91f";
@bu-icon__message: "\e920";
@bu-icon__minicruise: "\e921";
@bu-icon__minus: "\e922";
@bu-icon__natuur: "\e923";
@bu-icon__nederland: "\e924";
@bu-icon__opruimingnsale: "\e925";
@bu-icon__phone: "\e926";
@bu-icon__plaats: "\e927";
@bu-icon__plus: "\e928";
@bu-icon__rondreizen: "\e929";
@bu-icon__sadsmile: "\e92a";
@bu-icon__search: "\e92b";
@bu-icon__shoppen: "\e92c";
@bu-icon__smile: "\e92d";
@bu-icon__stedentrips: "\e92e";
@bu-icon__streek: "\e92f";
@bu-icon__themaparken: "\e930";
@bu-icon__themas: "\e931";
@bu-icon__tipvandedag: "\e932";
@bu-icon__tuinnklussen: "\e933";
@bu-icon__twitter: "\e934";
@bu-icon__uniekovernachten: "\e935";
@bu-icon__user: "\e936";
@bu-icon__vliegtickets: "\e937";
@bu-icon__vrijetijd: "\e938";
@bu-icon__wellness: "\e939";
@bu-icon__wereldsteden: "\e93a";
@bu-icon__whatsapp: "\e93b";
@bu-icon__wintersport: "\e93c";
@bu-icon__zonvakantie: "\e93d";
@bu-icon__eurodeals: "\e93e";
@bu-icon__aandekust: "\e93f";
@bu-icon__arrowdown: "\e940";

